<!-- <section class="cokctails-part">
  <div class="container">
    <h1 class="text-center">Le Cocktailsist</h1>
      <div class="row">
        <div class="">
          <div class="proje-info">
            <p class="text"> Ruby | Ruby on Rails | Css | HTML | Heroku | Cloudinary </p>
            <p class="text"> This is the my first website that we do during the Le Wagon bootcamp.</p>
          </div>
        </div>
      </div>
  </div>
</section>
 -->
