<%= render "navbar" %>
<section class="works scroll" id="works">
  <div class="container">
    <h1></h1>
    <div class="row justify-content-center">
      <div class="col-md-10 col-xs-12">
        <div class="about-me-card">
          <div class="info">
            <div class="info-top">
              <img src="<%= image_path('IMG_9237.jpg') %>" alt="profile image" class="cv-avatar">
              <h2>Sabriye Sevil Hatipoglu</h2>
              <h4>Jr. Front-end Developer</h4>
            </div>
            <div class="info-aboutme">
              <p>I am an amateur artist who is passionate about drawing and painting.  After graduating from a web development bootcamp at le Wagon , I'd now like to combine my passion with my newly acquired skills by working as a front-end developer.</p>
              <p>Working as a waitress and a supervisor for a couple of years taught me how to work under pressure in a busy environment as well as how to effectively work together in a team.</p>
            </div>
          </div>
          <div class="info-middle">
            <div class="tech-card">
              <h2>Technical Skills</h2>
              <br>
              <p><i class="fas fa-circle-notch point"></i> Css, HTML</p>
              <p><i class="fas fa-circle-notch point"></i> JS basic</p>
              <p><i class="fas fa-circle-notch point"></i> Ruby on Rails</p>
              <p><i class="fas fa-circle-notch point"></i> Ruby</p>
              <p><i class="fas fa-circle-notch point"></i> PostSQL</p>
              <p><i class="fas fa-circle-notch point"></i> APIs, JSON, scraping</p>
              <p><i class="fas fa-circle-notch point"></i> GIT, Github, Heroku</p>
              <p>[ Currently I am still studying about JS then React ]</p>
            </div>
            <div class="personal-skill-card">
              <h2>Personal Skills</h2>
              <br>
              <p><i class="fas fa-circle-notch point"></i> Creative Spirit</p>
              <p><i class="fas fa-circle-notch point"></i> Organized</p>
              <p><i class="fas fa-circle-notch point"></i> Time Management</p>
              <p><i class="fas fa-circle-notch point"></i> Team Player</p>
              <p><i class="fas fa-circle-notch point"></i> Motivated</p>
              <p><i class="fas fa-circle-notch point"></i> Analytical Skills</p>
            </div>
          </div>
          <div class="info-bottom">
            <div class="interest-card">
              <h4>Interests</h4>
              <br>
              <p><i class="fas fa-camera-retro"></i>Analogue photography</p>
              <p><i class="fas fa-palette"></i>
                <span> Arts <i class="fas fa-paint-brush"></i></span></p>
                <p><i class="fas fa-film"></i> Movies</p>
              </div>
              <div class="lang-card">
                <h4>Languages</h4>
                <br>
                <p>English</p>
                <p>Turkish</p>
              </div>
              <div class="social-card">
                <h4>Social</h4>
                <br>
                <p><a href="https://github.com/Sevil-h" target="_blank"><i class="fab fa-github social-link"></i></a> Sevil-h</p>
                <p><a href="https://www.linkedin.com/in/sabriye-sevil-hatipoglu-820418188/" target="_blank"><i class="fab fa-linkedin social-link"></i></a> Sabriye Sevil Hatipoglu</p>
                <p><a href="https://www.instagram.com/eurydiice_/" target="_blank"><i class="fab fa-instagram social-link"></i></a> eurydiice_</p>
                <p><i class="fas fa-phone-square-alt social-link"></i> +44 7503 994024</p>
              </div>
            </div>
            <div class="references-card">
              <h4>References</h4>
              <br>
              <div class="references-info">
                <div class="ref-info">
                  <br>
                  <h4>Edvar ter Haar</h4>
                  <p>Founder Le Wagon Istanbul</p>
                  <p>+90 543 271 19 97</p>
                </div>
                <div class="ref-info">
                  <br>
                  <h4>Steff Radu</h4>
                  <p>General Manager of the Flesh & Buns</p>
                  <p>+44 7425 163337</p>
                </div>
                <div class="ref-info">
                  <br>
                  <h4>Ugur Ezgi</h4>
                  <p>Manager of the Ev Restaurant</p>
                  <p>+44 7919 132323</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
