<%= render "navbar" %>
<section class="works scroll" id="works">
  <div class="container">
    <h1></h1>
    <div class="row justify-content-center">
      <div class="col-md-10 col-xs-12">
        <div class="about-me-card">
          <div class="info">
            <div class="info-top">
              <img src="/assets/IMG_9237.jpg" alt="profile image" class="cv-avatar">
              <h2>Sabriye Sevil Hatipoglu</h2>
            </div>
            <div class="info-aboutme">
              <p>I am an amateur artist who is passionate about drawing and painting. In the light of my passion and my education ,I'm looking for a way to apply that passion as the front-end developer after graduating from bootcamp at Le Wagon Istanbul(batch #567).</p>
              <p>Working as a waitres and supervisor couple of years , help me to work under pressure and busy enviroment and also help me to work with teams. </p>
              <p>Currently I am still stuying about JS then React</p>
            </div>
          </div>
          <div class="info-middle">
            <div class="tech-card">
              <h2>Technical Skills</h2>
              <br>
              <p><i class="fas fa-circle-notch point"></i> Css, HTML</p>
              <p><i class="fas fa-circle-notch point"></i> JS basic</p>
              <p><i class="fas fa-circle-notch point"></i> Ruby on Rails</p>
              <p><i class="fas fa-circle-notch point"></i> Ruby</p>
              <p><i class="fas fa-circle-notch point"></i> PostSQL</p>
              <p><i class="fas fa-circle-notch point"></i> APIs, JSON, scraping</p>
              <p><i class="fas fa-circle-notch point"></i> GIT, Github, Heroku</p>
            </div>
            <div class="personal-skill-card">
              <h2>Personal Skills</h2>
              <br>
              <p><i class="fas fa-circle-notch point"></i> Creative Spirit</p>
              <p><i class="fas fa-circle-notch point"></i> Organized</p>
              <p><i class="fas fa-circle-notch point"></i> Time Management</p>
              <p><i class="fas fa-circle-notch point"></i> Team Player</p>
              <p><i class="fas fa-circle-notch point"></i> Motivated</p>
              <p><i class="fas fa-circle-notch point"></i> Analytical Skills</p>
            </div>
          </div>
          <div class="info-bottom">
            <div class="interest-card">
              <h4>Interests</h4>
              <br>
              <p><i class="fas fa-camera-retro"></i>Analoque Photography</p>
              <p><i class="fas fa-palette"></i>
                <span> Arts <i class="fas fa-paint-brush"></i></span></p>
              <p><i class="fas fa-film"></i> Movies</p>
            </div>
            <div class="lang-card">
              <h4>Languages</h4>
              <br>
              <p>English</p>
              <p>Turkish</p>
            </div>
            <div class="social-card">
              <h4>Social</h4>
              <br>
              <p><a href="https://github.com/Sevil-h" target="_blank"><i class="fab fa-github social-link"></i></a> Sevil-h</p>
              <p><a href="https://www.linkedin.com/in/sabriye-sevil-hatipoglu-820418188/" target="_blank"><i class="fab fa-linkedin social-link"></i></a> Sabriye Sevil Hatipoglu</p>
              <p><a href="https://www.instagram.com/eurydiice_/" target="_blank"><i class="fab fa-instagram social-link"></i></a> eurydiice_</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
