<div class="content">
  <div class="fcard">
    <div class="fcard__side fcard__side--front">
      <!-- Front Content -->
      <div class="fcard__cont">
        <div><span class="carmine">alert</span>
          <span>(<span class="green">'Sevil Hatipoglu'</span>)</span>
        </div>
      </div>
    </div>
    <div class="fcard__side fcard__side--back">
      <!-- Back Content -->
      <div class="fcard__cta">
        <p><span class="purple">const</span> aboutMe <span class="cyan">=</span> {
          <br />
          <span class="space red">name</span>
          <span class="cyan">:</span> <span class="green">'Sabriye Sevil Hatipoglu'</span>,
          <br/>
          <span class="space red">email</span>
          <span class="cyan">:</span> <span class="green">'sevilhatipogluu93@gmail.com'</span>',
          <br/>
          <span class="space red">position</span>
          <span class="cyan">:</span>
          <span class="green">'Jr. Front-end Developer'</span>,
          <br/>
          <span class="space red">about_me</span>
          <span class="cyan">:</span> <span class="green"><%= link_to "link_to About_me ", aboutme_path, class: "link" %></span>,
          <br/>
          <span class="space red">portfolio</span>
          <span class="cyan">:</span> <span class="green"><%= link_to "link_to My_portfolio", portfolio_path, class: "link" %></span>,
          <br/>
          };
        </p>
        <p>
          <span><a href="https://github.com/Sevil-h" target="_blank"><i class="fab fa-github social-link"></i></a></span>
          <span><a href="https://www.linkedin.com/in/sabriye-sevil-hatipoglu-820418188/" target="_blank"><i class="fab fa-linkedin social-link"></i></a></span>
          <span><a href="https://www.instagram.com/eurydiice_/" target="_blank"><i class="fab fa-instagram social-link"></i></a></span>
        </p>
      </div>
    </div>
  </div>
</div>
