<%= render 'navbar' %>
<section class="works scroll" id="works">
	<div class="container">
		<h1 class="text-center">Portfolio</h1>
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="#lecocktailst">
					<div class="block wow rotateInDownLeft" data-wow-delay="0.15s" data-wow-duration="1s">
						<div class="works-thumb work-card" style=" background-image: url('assets/lecocktailst.png');"></div>
						<div class="works-caption">
							Le Cocktailist
						</div>
					</div></a>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<a href="#bookarts">
						<div class="block wow rotateInDownLeft" data-wow-delay="0.3s" data-wow-duration=".8s">
							<div class="works-thumb work-card" style=" background-image: url('assets/bookarts.png');"></div>
							<div class="works-caption">
								BookArts
							</div>
						</div></a>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<a href="#galata">
							<div class="block wow rotateInDownLeft" data-wow-delay="0.45s" data-wow-duration=".8s">
								<div class="works-thumb work-card" style=" background-image: url('assets/galata.png');"></div>
								<div class="works-caption">
									Galata
								</div>
							</div></a>
						</div>
					</div>
				</div>
			</section>

			<div id="lecocktailst">
				<%= render 'lecocktailst' %>
			</div>
			<div id="bookarts">
				<%= render 'bookarts' %>
			</div>
			<div id="galata">
				<%= render 'galata' %>
			</div>
