.cv-avatar {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  box-shadow: 0 1.5rem 4rem rgba(black, 0.4);
  margin: 10px;
}
.info {
  margin-top: 32px;
  border: 4px double rgba(255,255,255,.25);
  border-width: 4px;
  padding: 16px;
  color: #E9EAEC;
  h1, h2, p{
    color: #E9EAEC;
  }
}
.info-top {
  text-align: center;
  padding: 20px 10px;
  h2{
    opacity: 0.8;
  }
}
.info-middle{
  color: #E9EAEC;
  display: flex;
  justify-content: space-around;
  padding: 16px;
  margin: 16px;
  h2{
    opacity: 0.8;
  }
  .tech-card{
    border: 4px double rgba(255,255,255,.25);
    border-width: 4px;
    padding: 40px;
  }
  .personal-skill-card{
    border: 4px double rgba(255,255,255,.25);
    border-width: 4px;
    padding: 40px;
  }
}
.info-bottom {
  color: #E9EAEC;
  display: flex;
  justify-content: space-around;
  border: 4px double rgba(255,255,255,.25);
  border-width: 4px;
  padding: 40px;
  h4{
    opacity: 0.8;
  }
}

