.btn{
  padding: 8px 16px;
  border: 1px solid $orange;
  color: $orange;
  border-radius: 8px;
  &:hover{
    opacity: 0.7;
    color: $orange;
    transition: all 1s ease-in-out;
  }
}
.project-btn{
  text-align: center;
}
.proje-info{
  text-align: center;
}

.ican-color{
  color: $orange;
}
