.project-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 24px;
  grid-gap: 24px;
}
.b-card{
  overflow: hidden;
  background: #E9EAEC;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  img{
  height: 320px;
  width: 100%;
  object-fit: cover;
  }
  p{
    text-align: center;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 360px) {
  .project-cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .project-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .project-cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .project-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .project-cards {
    grid-template-columns: 1fr 1fr;
  }
}
