.carousel-img{
  margin: 20px 0;
  background-size: contain;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.carousel-item p {
  color: black;
  padding: 4px;
  background-color: #ffa11b;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
