.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(to bottom right, #ff9800, #ffa726);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.white{
  color: white;
}
